<form class="form-horizontal">


  <div class="control-group">
    <label class="control-label" for="inputEmail">URLs</label>
    <div class="controls">
      <textarea id="urls" rows="3"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="interval">Interval</label>
    <div class="controls">
      <input type="text" id="interval" placeholder="e.g. 2h, 10m">
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox">Don't create input if URL already monitored
      </label>
      <button type="button" class="btn btn-primary create-inputs">Create inputs</button>
    </div>
  </div>
</form>