<form class="form-horizontal">

  <h2>Batch Create Website Monitoring Inputs</h2>

  <div class="message-dialogs">
			<div id="warning-message" class="alert alert-warning hide">
				<i class="icon-alert"></i>
				<div class="message">Warning!</div>
			</div>
			
			<div id="info-message" class="alert alert-info hide">
				<i class="icon-alert"></i>
				<div class="message">Ok!</div>
			</div>
  </div>

  <div class="control-group urls">
    <label class="control-label" for="urls">URLs</label>
    <div class="controls">
      <input type="text" id="urls" placeholder="e.g. http://splunk.com">
      <span class="help-block ">Enter a list of URLs and press enter or a comma to add another</span>
    </div>
  </div>

  <div class="control-group interval">
    <label class="control-label" for="interval">Interval</label>
    <div class="controls">
      <input type="text" id="interval" placeholder="e.g. 2h, 10m">
      <span class="help-inline" style="display:none">Enter a valid interval such as "4h"</span>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox">Don't create input if URL already monitored
      </label>
      <button type="button" class="btn btn-primary create-inputs">Create inputs</button>
    </div>
  </div>
</form>