
.icon-0:before { content: '\e800'; } /* '' */
.icon-25:before { content: '\e801'; } /* '' */
.icon-50:before { content: '\e802'; } /* '' */
.icon-75:before { content: '\e803'; } /* '' */
.icon-100:before { content: '\e804'; } /* '' */