.appHeaderWrapper{
	/* background: #092e20; */
	background: linear-gradient(top, #135A6B 8%, #0D4052 54%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.08, #135A6B), color-stop(0.54, #0D4052));
	background-color: #135A6B;
	background-image: linear-gradient(top, #135A6B 8%, #0D4052 54%);
	background-image: -o-linear-gradient(top, #135A6B 8%, #0D4052 54%);
	background-image: -moz-linear-gradient(top, #135A6B 8%, #0D4052 54%);
	background-image: -webkit-linear-gradient(top, #135A6B 8%, #0D4052 54%)
}

.appLogoContainer > h1 {
	color: white;
}

.appHeaderWrapper a {
	color: #FFF;	
}

.splHeader-dashboard h2 {
	color: #3F3F3F;
	font-size: 16px;
	font-weight: 100;
	font-family: "Helvetica nenu", Helvetica, Arial, sans-serif;
	line-height: normal;
	margin: 15px 50px 19px 16px;
}

.StaticContentSample h1{
	color: #3F3F3F;
	font-size: 20px;
	font-weight: 100;
	font-family: "Helvetica nenu", Helvetica, Arial, sans-serif;
	line-height: normal;
}

.SingleValue .SingleValueHolder{
	font-weight: 100;
	font-family: "Helvetica nenu", Helvetica, Arial, sans-serif;
	line-height: normal;
	font-size: 16px;
}

body.splTemplate-dashboard, 
.TitleBar .splHeader, 
.viewHeader, 
.mainSearchControls, 
.JobStatus,
.splView-flashtimeline .ResultsHeader .splHeader-primary,
.DisableRequiredFieldsButton,
.sidebarExpanded,
.splSearchControls-inline,
.JobStatus {
	background-color: #f3f5f7;
}

.splApp-website_monitoring .JobStatus{
	background: -webkit-linear-gradient(top, #f3f5f7 0%, #c3c5c7 100%);
	background: linear-gradient(top, #f3f5f7 0%, #c3c5c7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f5f7), color-stop(1.00, #c3c5c7));
	background-color: #f3f5f7;
	background-image: linear-gradient(top, #f3f5f7 0%, #c3c5c7 100%);
	background-image: -o-linear-gradient(top, #f3f5f7 0%, #c3c5c7 100%);
	background-image: -moz-linear-gradient(top, #f3f5f7 0%, #c3c5c7 100%);
	background-image: -webkit-linear-gradient(top, #f3f5f7 0%, #c3c5c7 100%);
}

.dashboardContent .Paginator{
	padding-left: 10px;
}

.dashboardContent > .StaticContentSample{
	padding-left: 10px;
}

.splApp-website_monitoring .empty_results{
	background-color: #e5e5e7;	
}

/*
 * Colorize and update the styling of the results on the status overview page
 */
.SimpleResultsTable tr td.d[data-value^="1"][field="response_code"],
.SimpleResultsTable tr td.d[data-value^="2"][field="response_code"],
.SimpleResultsTable tr td.d[data-value^="3"][field="response_code"],
.response_code .success
{
	/*
	background-image: -webkit-linear-gradient(top, #659c40 0%, rgb(69, 134, 25) 100%);
	*/
	background: -webkit-linear-gradient(top, #30C423 0%, #069C00 100%);
	background: linear-gradient(top, #30C423 0%, #069C00 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #30C423), color-stop(1.00, #069C00));
	background-color: #30C423;
	background-image: linear-gradient(top, #30C423 0%, #069C00 100%);
	background-image: -o-linear-gradient(top, #30C423 0%, #069C00 100%);
	background-image: -moz-linear-gradient(top, #30C423 0%, #069C00 100%);
	background-image: -webkit-linear-gradient(top, #30C423 0%, #069C00 100%);
	
	
	color: white;
	font-size: larger;
}

.SimpleResultsTable tr td.d[data-value^="4"][field="response_code"],
.SimpleResultsTable tr td.d[data-value^="5"][field="response_code"],
.SimpleResultsTable tr td.d[data-value="0"][field="response_code"],
.SimpleResultsTable tr td.d[data-value="Connection failed"][field="response_code"],
.SimpleResultsTable tr td.d[data-value="Connection timed out"][field="response_code"],
.response_code .failure
{
	color: white;
	font-size: larger;	
	background: -webkit-linear-gradient(top, #C42323 0%, #9C0000 100%);
	background: linear-gradient(top, #C42323 0%, #9C0000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C42323), color-stop(1.00, #9C0000));
	background-color: #C42323;
	background-image: linear-gradient(top, #C42323 0%, #9C0000 100%);
	background-image: -o-linear-gradient(top, #C42323 0%, #9C0000 100%);
	background-image: -moz-linear-gradient(top, #C42323 0%, #9C0000 100%);
	background-image: -webkit-linear-gradient(top, #C42323 0%, #9C0000 100%);
}

.splView-status_overview .SimpleResultsTable tr td.d[field="title"],
.splView-status_history .SimpleResultsTable tr td.d[field="title"],
.title{
	font-weight: bold;
	font-size: larger;
}

/*
 * Hide the 'time_exceeded' column since it is only used for determining if the response time should be marked as high
 */
.splView-status_overview .SimpleResultsTable tr td:nth-of-type(6),
.splView-status_overview .SimpleResultsTable tr th:nth-of-type(6),
.splView-status_history .SimpleResultsTable tr td:nth-of-type(6),
.splView-status_history .SimpleResultsTable tr th:nth-of-type(6){
     display:none;   
}

/*
 * Hide the 'avg_time_exceeded' column since it is only used for determining if the average response time should be marked as high
 */
.splView-status_overview .SimpleResultsTable tr td:nth-of-type(8),
.splView-status_overview .SimpleResultsTable tr th:nth-of-type(8){
     display:none;   
}

.splView-status_overview .SimpleResultsTable tr td.d[data-value="1"][field="time_exceeded"] + td,
.splView-status_overview .SimpleResultsTable tr td.d[data-value="1"][field="avg_time_exceeded"] + td,
.splView-status_history .SimpleResultsTable tr td.d[data-value="1"][field="time_exceeded"] + td
{
    color: #C42323;
    font-weight: bold;
}

/*
 * Colorize the controls
 */

.splView-status_overview .splButton-primary,
.splView-status_history .splButton-primary{
	background-color: #135A6B;
	border: 1px solid rgb(17, 84, 100);
}

/*
.splApp-website_monitoring table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper {
	background-color: #135A6B;
	border: 1px solid rgb(17, 84, 100);
}

.splApp-website_monitoring .searchButton{
	background-color: #135A6B;
}
*/