.response_time.failure,
.average.failure
{
    color: #C42323;
    font-weight: bold;
}

.title{
	font-weight:bold !important;
	font-size: larger;
}

/*
 * Colorize and update the styling of the results on the status overview page
 */
.response_code.failure
{
	color: #C42323;
	font-weight: bold;
}

.response_code.success
{
	color: #00A009;
	font-weight: bold;
}

.html h1{
	font-weight: 100;
	font-family: "Helvetica nenu", Helvetica, Arial, sans-serif;
	line-height: normal;
}

.splunk-view > .single-value.shared-singlevalue {
	font-weight: 100;
	font-family: "Helvetica nenu", Helvetica, Arial, sans-serif;
	line-height: normal;
	font-size: 16px;
}

.splunk-view .single-value .severe, .splunk-view .single-value.severe .single-result {
	font-weight: 100;
	font-family: "Helvetica nenu", Helvetica, Arial, sans-serif;
	line-height: normal;
	color: #C42323;
	/* color: #ff1f24; */
	vertical-align: -3px;
}

.splunk-view .single-value .low, .splunk-view .single-value.low .single-result {
	font-weight: 100;
	font-family: "Helvetica nenu", Helvetica, Arial, sans-serif;
	line-height: normal;
	/* color: #00b932; */
	color: #00A009;
    vertical-align: -3px;
}

.splunk-view > .single-value.shared-singlevalue {
	float: left !important;
}

.single > .panel-head{
	display: none;
}

.single > .panel-footer{
	display: none;
}

.panel-head h3 {
	color: #3F3F3F;
	font-size: 16px;
	font-weight: 100;
	font-family: "Helvetica nenu", Helvetica, Arial, sans-serif;
	line-height: normal;
	margin: 15px 50px 19px 16px;
}
