/*
 * Hide the range and title columns on small devices
 */
@media(max-width:1024px) {
	.table tr td:nth-of-type(7),
	.table tr th:nth-of-type(7){
		 display:none;   
	}
	.table tr td:nth-of-type(1),
	.table tr th:nth-of-type(1){
		 display:none;   
	}
}

/*
 * The following improves the styling of the status overview dashboard by removing the white border and padding.
 */
#element1{
    background-color: #eee;
}

.dashboard-header{
    padding-left: 20px;
    padding-right: 20px;
}

.fieldset{
    padding-left: 20px;
}

.dashboard-body{
    padding-left: 0px;
    padding-right: 0px;
}

#dashboard > .fieldset{
	margin-bottom: 0px;
}

.title{
	font-weight:bold !important;
	font-size: larger;
}

/*
 * The following sets the color of the row indicating if the response was a failure or not.
 */
.table-chrome.table-striped > tbody > tr > td.response_code.success{
	background-color: #65A636; /* #3677a6 */
    color: white;
    font-weight: bold;
}

.table-chrome.table-striped > tbody > tr > td.response_code.success.highlighted{
	background-color: #74b744 !important;
}

.table-chrome.table-striped > tbody > tr > td.response_time.failure,
.table-chrome.table-striped > tbody > tr > td.average.failure{
	background-color: #d6563c;
    color: white;
    font-weight: bold;
}

.table-chrome.table-striped > tbody > tr > td.response_time.failure.highlighted,
.table-chrome.table-striped > tbody > tr > td.average.failure.highlighted{
	background-color: #e66146 !important;
}

.table-chrome.table-striped > tbody > tr > td.response_code.failure{
	/* http://bit.ly/2feBevo */
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAANElEQVQYV2NcpszxnwENGBibMDCiS4AEL5w9gyoBEwQZANeBLAiXQBcES1wLs/kPMhMdAACG5Bp+pY2rpgAAAABJRU5ErkJggg==);
    color: white;
    font-weight: bold;
}

/*
 * Style the cells in the table that are high but not so as to be considered a failure.
 */
 
 /* Red-ish version:
.table-chrome.table-striped > tbody > tr > td.response_time.response-100,
.table-chrome.table-striped > tbody > tr > td.average.response-100{
	background-color: #e8cece;
}

.table-chrome.table-striped > tbody > tr > td.response_time.response-75,
.table-chrome.table-striped > tbody > tr > td.average.response-75{
	background-color: #f5e7e7;
}

.table-chrome.table-striped > tbody > tr > td.response_time.response-100.highlighted,
.table-chrome.table-striped > tbody > tr > td.average.response-100.highlighted{
	background-color: #e8cece !important;
}

.table-chrome.table-striped > tbody > tr > td.response_time.response-75.highlighted,
.table-chrome.table-striped > tbody > tr > td.average.response-75.highlighted{
	background-color: #f5e7e7 !important;
}
 */

 /* Orange version: */
.table-chrome.table-striped > tbody > tr > td.response_time.response-100,
.table-chrome.table-striped > tbody > tr > td.average.response-100{
	background-color: #ffad00;
	color: white;
}

.table-chrome.table-striped > tbody > tr > td.response_time.response-75,
.table-chrome.table-striped > tbody > tr > td.average.response-75{
	background-color: #ffd885;
}

.table-chrome.table-striped > tbody > tr > td.response_time.response-100.highlighted,
.table-chrome.table-striped > tbody > tr > td.average.response-100.highlighted{
	background-color: #ffbb2d !important;
}

.table-chrome.table-striped > tbody > tr > td.response_time.response-75.highlighted,
.table-chrome.table-striped > tbody > tr > td.average.response-75.highlighted{
	background-color: #ffd885 !important;
}

.table-chrome.table-striped > tbody > tr > td.response_time.response-25,
.table-chrome.table-striped > tbody > tr > td.average.response-25{
	background-color: #dceaf5;
}
.table-chrome.table-striped > tbody > tr > td.response_time.response-0,
.table-chrome.table-striped > tbody > tr > td.average.response-0{
    background-color: #d7f3c3;
}


/*
 * This makes the stopwatch icons and the status icons line up
 */
.response_time.failure > i, .average.failure > i{
	margin-right: 3px;
}

/*
 * Setting background color of the cells indicating success or failure.
 */
.response-failure{
	background-color: #C42323;
}

.response-success{
	background-color: #61a035; /* #00a009; */
}

/*
 * Font icons below
 */
 @font-face {
  font-family: 'stopwatch';
  src: url('font/stopwatch.eot?53462084');
  src: url('font/stopwatch.eot?53462084#iefix') format('embedded-opentype'),
       url('font/stopwatch.woff2?53462084') format('woff2'),
       url('font/stopwatch.woff?53462084') format('woff'),
       url('font/stopwatch.ttf?53462084') format('truetype'),
       url('font/stopwatch.svg?53462084#stopwatch') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'stopwatch';
    src: url('../font/stopwatch.svg?53462084#stopwatch') format('svg');
  }
}
*/
 
 [class^="stopwatch-icon-"]:before, [class*=" stopwatch-icon-"]:before {
  font-family: "stopwatch";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.stopwatch-icon-0:before { content: '\e800'; } /* '' */
.stopwatch-icon-25:before { content: '\e801'; } /* '' */
.stopwatch-icon-50:before { content: '\e802'; } /* '' */
.stopwatch-icon-75:before { content: '\e803'; } /* '' */
.stopwatch-icon-100:before { content: '\e804'; } /* '' */