/*
 * Hide the 'time_exceeded' column since it is only used for determining if the response time should be marked as high
 */
.table tr td:nth-of-type(5),
.table tr th:nth-of-type(5),
.table tr td:nth-of-type(5),
.table tr th:nth-of-type(5){
     display:none;   
}

/*
 * Hide the 'avg_time_exceeded' column since it is only used for determining if the average response time should be marked as high
 */
.table tr td:nth-of-type(7),
.table tr th:nth-of-type(7){
     display:none;   
}

/*
 * Hide the range column on small devices
 */
@media(max-width:1024px) {
	.table tr td:nth-of-type(9),
	.table tr th:nth-of-type(9){
		 display:none;   
	}
}

/*
 * The following improves the styling of the status overview dashboard by removing the white border and padding.
 */
#element1{
    background-color: #eee;
}

.dashboard-header{
    padding-left: 20px;
    padding-right: 20px;
}

.fieldset{
    padding-left: 20px;
}

.dashboard-body{
    padding-left: 0px;
    padding-right: 0px;
}

.title{
	font-weight:bold !important;
	font-size: larger;
}

/*
 * The following sets the color of the row indicating if the response was a failure or not.
 */
.table-chrome.table-striped > tbody > tr > td.response_code.success{
	background-color: #65A636;
    color: white;
    font-weight: bold;
}

.table-chrome.table-striped > tbody > tr > td.response_code.failure,
.table-chrome.table-striped > tbody > tr > td.response_time.failure,
.table-chrome.table-striped > tbody > tr > td.average.failure{
	background-color: #d6563c;
    color: white;
    font-weight: bold;
}

/*
 * This makes the stopwatch icons and the status icons line up
 */
.response_time.failure > i, .average.failure > i{
	margin-right: 3px;
}

/*
 * Setting background color of the cells indicating success or failure.
 */
.response-failure{
	background-color: #C42323;
}

.response-success{
	background-color: #61a035; /* #00a009; */
}

/*
 * Add some padding so that the cells without an icon line up with those that do.
 */
 /*
.response_time.success{
	padding-left: 22px;
}

.average.success{
	padding-left: 22px;
}
*/

