.bootstrap-tagsinput > .label-info{
	background-color: #777;
	border: #777;
	text-transform: none;
}

.create-inputs{
	margin-top: 16px;
}

#info-message, #warning-message{
    vertical-align: top;
    padding-bottom: 0px;
	margin-bottom: 0px;
}

/* Reinstate the display none if the hide class is set (since the CSS about overrides this) */
#info-message.hide, #warning-message.hide{
	display: none;
}

.message-dialogs{
	margin-bottom: 16px;
}

.alert{
	margin-top: 16px;
}